body {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Zilla Slab';
    font-weight: 600;
    font-size: 18px; 
    margin: 6px 0 12px 0;
}

p {
    font-weight: 100;
    font-size: 13px; 
    margin: 6px 0 12px 0;
}

textarea {
    height: 100px;
    vertical-align: top;
    margin: 10px;
}

input, select {
    margin: 10px
}

#source_url, #output {
    display: block;
    width: 300px;
}

img {
    margin: 10px;
}